[submodule "GreenOrange/dependencies/imgui"]
	path = GreenOrange/dependencies/imgui
	url = https://github.com/ocornut/imgui
[submodule "GreenOrange/dependencies/glfw"]
	path = GreenOrange/dependencies/glfw
	url = https://github.com/glfw/glfw
[submodule "GreenOrange/dependencies/glm"]
	path = GreenOrange/dependencies/glm
	url = https://github.com/g-truc/glm.git
